.NewSeason {
  border: none;
}

.NewSeason h3 {
  margin-bottom: 0.3em;
}

.NewSeason p {
  font-size: 0.9375em;
}

.NewSeason button {
  display: block;
  margin: 0 auto;
}

.DatePicker {
  margin: 1em 0;
}

.DatePicker input {
  text-align: center;
  width: 8em;
}

.Btns {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Btns button {
  display: inline-block;
  margin: 0 0.3em;
}
