.Modal {
  position: fixed;
  z-index: 500;
  background-color: var(--background);
  width: 94%;
  border: 1px solid var(--gray);
  padding: 16px;
  left: 3%;
  top: 0.7em;
  box-sizing: border-box;
  transition: transform 0.5s ease-out;
}

@media (min-width: 608px) {
  .Modal {
    top: 3.5em;
  }
}

@media (min-width: 740px) {
  .Modal {
      width: 700px;
      left: calc(50% - 350px);
  }
}