.Calendar {
  box-sizing: border-box;
  background: var(--blue);
  border: 1px solid var(--darkgray);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.8em, 1fr));
  grid-gap: 0.5em;
  margin: 1.5em auto;
  padding: 0.5em;
  width: 90%;
  max-width: 1100px;
  -webkit-box-shadow: 0px 7px 30px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 30px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 30px 1px rgba(0, 0, 0, 0.75);
}

@media (min-width: 1260px) {
  .Calendar {
    grid-template-columns: repeat(7, 1fr);
  }
}
