:root {
  --background: #0a181b;
  --accent: rgb(9, 199, 142);
  --accent-darken: rgb(9, 199, 142, 0.6);
  --accent-darken2: rgb(9, 199, 142, 0.8);
  --danger: #be3636;
  --danger-darken: #c55a5a;
  --black: #091011;
  --black-hover: #080808;
  --blue: #002330;
  --white: #f7f7f7;
  --gray: #bababa;
  --darkgray: rgb(122, 122, 122);
  --lightgray: #dcdcdc;

  --base: #5890ff;
  --strength: #e84600;
  --power: #fff685;
  --endur: rgb(185, 64, 74);
  --perf: var(--accent);
  --rest: var(--gray);
}

body {
  background: var(--background);
  color: var(--lightgray);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--accent-darken);
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
}
