.PasswordForgetForm {
  margin: 0 auto;
}

.PasswordForgetForm input{
  display: block;
  font-size: 1rem;
  margin: 0.7em auto;
  padding: 0.2em;
  width: 90%;
  max-width: 22em;
  
}

.PasswordForgetForm button {
  margin: 0.8em 0;
}